.md-main {
    background-color: #111111;
    color: #ffffff;
}

.md-header {
    background-color: #222222;
    box-shadow: 0 0 .2rem transparent,0 .2rem .4rem transparent;
    color: #66ff66;
    left: 0;
    position: sticky;
    right: 0;
    top: 0;
    z-index: 4;
}

.md-header[data-md-state=shadow] {
    box-shadow: 0 0 .2rem rgba(0,0,0,.1),0 .2rem .4rem rgba(0,0,0,.2);
    transition: transform .25s cubic-bezier(.1,.7,.1,1),box-shadow .25s;
    background-color: #222222;
}

.md-header__inner {
    align-items: center;
    background-color: #222222;
    color: #66ff66;
    display: flex;
    padding: 0 .2rem;
}

.md-tabs {
    background-color: #222222;
    color: #66ff66;
    overflow: auto;
    width: 100%;
}

.md-nav--primary .md-nav__title[for=__drawer] {
    background-color:#222222;
    color: #66ff66;
}

.md-nav--primary .md-nav__title~.md-nav__list {
    background-color: #111111;
    color: #66ff66;
    box-shadow: 0 .05rem 0 var(--md-default-fg-color--lightest) inset;
    overflow-y: auto;
    scroll-snap-type: y mandatory;
    touch-action: pan-y;
}

.md-tabs__list {
    contain: content;
    list-style: none;
    margin: 0 0 0 .2rem;
    padding: 0;
    white-space: nowrap;
    background-color: #222222;
    color: #66ff66;
}

.md-tabs__link {
    display: block;
    font-size: .7rem;
    margin-top: .8rem;
    opacity: 1;
    outline-color: #000000;
    outline-offset: 0rem;
    font-size: 1.6em;
}

.md-typeset h1 {
    color: #4dff4d;
    font-size: 2em;
    line-height: 1.3;
    margin: 0 0 1.25em;
}

.md-typeset h2 {
    font-size: 1.5625em;
    line-height: 1.4;
    margin: 1.6em 0 .64em;
    color: #66ff66;
}

.md-typeset a, .md-typeset a:before {
    transition: color 125ms;
    color: #66ff66;
}

.md-typeset :is(.admonition,details):is(.info,.todo) {
    border-color: #66ff66;
    background-color: #222222;
    color: #ffffff;
}

.md-typeset :is(.info,.todo)>:is(.admonition-title,summary) {
    background-color: #222222;
    border-color: #66ff66;
    font-size: 1.4em;
    color: #66ff66;
}

html .md-typeset :is(.admonition,details)>:last-child {
    margin-bottom: .6rem;
    font-size: 1.2em;
}

.md-typeset :is(.admonition,details)>* {
    box-sizing: border-box;
    font-size: 1.2em;
}

.md-typeset code:not(.focus-visible) {
    -webkit-tap-highlight-color: transparent;
    outline: none;
    background-color: #000000;
    color: #66ff66;
    border: 1px solid #66ff66;
}


.md-search__inner {
    float: right;
    padding: .1rem 0;
    position: relative;
    transition: width .25s cubic-bezier(.1,.7,.1,1);
    width: 11.7rem;
    background-color: #111111;
    color: #66ff66;
}

.md-search-result__meta {
    background-color: #000000;
    color: #ffffff;
    font-size: .64rem;
    line-height: 1.8rem;
    padding: 0 .8rem;
    scroll-snap-align: start;
}

.md-search__input {
    background: #111111;
    color: #66ff66 !important;
    font-size: .9rem;
    height: 100%;
    padding: 0 2.2rem 0 3.6rem;
    position: relative;
    text-overflow: ellipsis;
    width: 100%;
    z-index: 2;
}

.md-search-result__article {
    padding-left: 2.2rem;
    background-color: #111111;
    border: 1px solid #66ff66;
    color: #66ff66;
}

.md-search-result mark {
    background-color: transparent;
    color: #000000;
    background-color: #66ff66;
}

.md-search-result__more summary {
    padding-left: 2.2rem;
    background-color: #222222;
    color: #66ff66;
}

.md-search-result__teaser {
    font-size: .64rem;
    line-height: 1.6;
    margin: .5em 0;
    max-height: 2rem;
    overflow: hidden;
    text-overflow: ellipsis;
    color: #ffffff;
}

.md-nav--secondary .md-nav__title[for=__toc] {
    scroll-snap-align: start;
    color: #66ff66;
}

.md-nav__item .md-nav__link--active {
    color: #66ff66;
}

.md-nav--primary .md-nav__title {
    background-color: var(--md-default-fg-color--lightest);
    color: #000000;
    cursor: pointer;
    font-weight: 400;
    height: 5.6rem;
    line-height: 2.4rem;
    padding: 3rem .8rem .2rem;
    position: relative;
    white-space: nowrap;
    background-color: #66ff66;
}