.md-header {
    background-color: #be0f34;
    box-shadow: 0 0 .2rem transparent,0 .2rem .4rem transparent;
    color: var(--md-primary-bg-color);
    display: block;
    left: 0;
    position: -webkit-sticky;
    position: sticky;
    right: 0;
    top: 0;
    z-index: 4;
}

@media screen and (max-width: 76.1875em)
.md-nav--primary .md-nav__title[for=__drawer] {
    background-color: #be0f34 !important;
    color: var(--md-primary-bg-color);
    font-weight: 700;
}

@media screen and (max-width: 76.1875em)
.md-nav--primary .md-nav__title[for=__drawer] {
    background-color: #be0f34;
    color: var(--md-primary-bg-color);
    font-weight: 700;
}

.md-typeset h1 {
    color: #990000;
    font-size: 2em;
    line-height: 1.3;
    margin: 0 0 1.25em;
}

.md-tabs {
    background-color: #101010;
}

.md-typeset h2 {
    color: #990000;
    font-size: 1.8em;
    line-height: 1.3;
    margin: 0 0 1.25em;
}

hr {
    border-top: #000000 2px solid;
    box-sizing: initial;
    display: block;
    height: 0.5px;
    overflow: visible;
    padding: 0;
    color: #000000 !important;
}

.admonition-title {
    background-color: #be0f34 !important;
    color: #ffffff;
    font-size: 1.2em;
}

.md-typeset :is(.info,.todo)>:is(.admonition-title,summary):before {
    background-color: #ffffff;
}

.md-typeset :is(.admonition,details):is(.info,.todo) {
    border-color: #be0f34;
}

.md-typeset a, .md-typeset a:before {
    transition: color 125ms;
    font-size: 1.2em;
}

.md-typeset ol li, .md-typeset ul li {
    margin-bottom: 0em;
}

.md-typeset a, .md-typeset a:before {
    transition: color 125ms;
    font-size: 1em;
}

html .md-typeset :-webkit-any(.admonition,details)>:last-child {
    margin-bottom: .6rem;
    font-size: 1.2em !important;
}

.md-clipboard:not(.focus-visible) {
    -webkit-tap-highlight-color: transparent;
    outline: none;
    color: #be0f34;
}

.md-tag {
    margin-right: .5em;
    background-color: #cccccc;
    padding: 4px;
    border-radius: 0;
    color: #ffffff;
    font-size: 0.8em;
    margin-top: 0px;
}

.md-tag[href] {
    -webkit-tap-highlight-color: transparent;
    color: #ffffff;
    outline: none;
    transition: color 125ms,background-color 125ms;
    font-size: 0.8em;
    background-color: #be0f34;
}

.md-nav--primary .md-nav__title[for=__drawer] {
    background-color: #be0f34 !important;
    color: #ffffff;
    font-weight: 700;
}

.md-tag {
    margin-right: .5em;
    background-color: #be0f34;
    padding: 4px;
    border-radius: 0;
    color: #ffffff;
    font-size: 0.8em;
    margin-top: 0px;
}

